<div class="form">
  <h2 class="form__header">Sign up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="submit()">
    <label class="form__label" for="name">Name</label>
      <input class="form__input" type="text" id="name" placeholder="Name *" formControlName="name">
      <span class="form__msg" *ngIf="name?.errors?.['required'] && name?.touched">Name is required</span>
    <label class="form__label" for="email">Email</label>
      <input class="form__input" type="email" id="email" placeholder="Email *" formControlName="email">
      <span class="form__msg" *ngIf="email?.errors?.['required'] && email?.touched">Email is required</span>
      <span class="form__msg" *ngIf="email?.errors?.['email'] && email?.touched">Invalid email format</span>
    <label class="form__label" for="password">Password</label>
      <input class="form__input" type="password" id="password" placeholder="Password *" formControlName="password">
      <span class="form__msg" *ngIf="password?.errors?.['required'] && password?.touched">Password is required</span>
    <label class="form__label" for="confirm-password">Confirm password</label>
      <input class="form__input" type="password" id="confirm-password" placeholder="Confirm Password *" formControlName="confirmPassword">
      <span class="form__msg" *ngIf="confirmPassword?.errors?.['required'] && confirmPassword?.touched">Confirm password is required</span>
    <span class="form__msg" *ngIf="signupForm.errors?.['passwordsDontMatch']">Passwords should match</span>
    <button class="btn btn-primary form__button btn-accent" type="submit">Sign up</button>
  </form>
</div>
